
.shibox1 h15{
    font-family: zillaslab,palatino,"Palatino Linotype",serif;
    line-height: 5;
    text-align:left;
    color:#212121;
    font-size:2.1rem;
}

.shibox1 img{
padding-left: 0px;
}